This code generates the model needed for the tutorial website

[Startups data set taken from here](https://www.kaggle.com/karthickveerakumar/startup-logistic-regression)

In [6]:
import pandas
import numpy
import joblib
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

data = pandas.read_csv("50_Startups.csv")

stateEncoder = OneHotEncoder(sparse=False)
stateEncoded = pandas.DataFrame(stateEncoder.fit_transform(data["State"].values.ravel().reshape(-1,1)))


data.drop(['State'], inplace=True, axis=1)

data = pandas.merge(data, stateEncoded, right_index=True, left_index=True)

train, test = train_test_split(data, train_size=.9, random_state=80)

test.to_csv("testData.csv")
train.to_csv("trainData.csv")
joblib.dump(stateEncoder, "stateEncoder.sav")

regressor = LinearRegression()

regressor.fit(train.drop(['Profit'], axis=1), train['Profit'])

joblib.dump(regressor, "regressor.sav")

['regressor.sav']

**The following is an example of reading in the information and predicting it**

In [31]:
import pandas
import joblib

test = pandas.read_csv("testData.csv")
regressor = joblib.load("regressor.sav")

testData = test.drop(["Unnamed: 0", "Profit"], axis=1)
testTrue = test["Profit"]

print(regressor.predict(testData))
print(testTrue)

[ 64172.36873597  73863.52619703  97148.35840946 101773.65074959
 110274.3321735 ]
0     65200.33
1     90708.19
2     96778.92
3    101004.64
4    105733.54
Name: Profit, dtype: float64

In [29]:
import pandas
import joblib
test = pandas.read_csv("testData.csv")
encoder = joblib.load("stateEncoder.sav")

testEncoded = test.drop(['RD_Spend', 'Administration', 'Marketing_Spend', 'Profit', 'Unnamed: 0'], axis=1)

testEncoded = encoder.inverse_transform(testEncoded)
test.drop(['0','1','2'], axis=1, inplace=True)
testData = pandas.merge(test.drop(['Unnamed: 0'], axis=1), pandas.DataFrame(testEncoded), right_index=True, left_index=True)

testData["State"] = testData[0]
testData.drop([0], axis=1, inplace=True)
testData

   RD_Spend  Administration  Marketing_Spend     Profit       State
0  22177.74       154806.14         28334.72   65200.33  California
1  28663.76       127056.21        201126.82   90708.19     Florida
2  55493.95       103057.49        214634.81   96778.92     Florida
3  65605.48       153032.06        107138.38  101004.64    New York
4  75328.87       144135.98        134050.07  105733.54     Florida

In [28]:
encoder.transform([["California"]])

array([[1., 0., 0.]])